<div class="container py-5">
    <h1>About Us</h1>
  <br>
    <div>
        <p>Raindrops Insurance was established in 1985.
          Since then, we have been taking care of your health and are, ever so
          committed to serve you with utmost care. We understand how stressful and challenging
          health expenses can be, we stand with you in such times and are there to bear the
          responsibilties, so that you do not feel alone.
          <br>
          <br>
          We are there for you. We are Raindrops Insurance!
        </p>

    </div>
  <br>
    <div class="px-1 col-4">
        <p>
          <b>Person Behind Raindrops Insurance:</b>
          <br>
          Susmita
          <br>
          Founder
          <br>
          Santa Clara, New Delhi
        </p>
      </div>
</div>
