<footer class="bg-dark py-3 text-white">
    <div class="container d-flex justify-content-between">
        <ul class="nav justify-content-center">
            <li class="nav-item mb-2 px-2"><a routerLink="home" class="nav-link p-0 text-muted">Home</a></li>
            <li class="nav-item mb-2 px-2"><a routerLink="plans" class="nav-link p-0 text-muted">Plans</a></li>
            <li class="nav-item mb-2 px-2"><a routerLink="about" class="nav-link p-0 text-muted">About</a></li>
        </ul>
        <span class="text-muted">© 2023 Raindrops Insurance Inc. | All rights reserved.</span>
    </div>
</footer>
