<div class="container py-5">
    <div class="row align-items-center">
        <div class="col-sm-6">
            <div class="h3 text-primary">Get the best</div>
            <div class="display-3 fw-bolder">
                Health Insurance
            </div>
            <div class="text-muted">
                Maximum coverage at lowest price
            </div>
            <button class="btn btn-primary mt-5" routerLink="/plans">Browse Plans</button>
        </div>
        <div class="col-sm-6">
            <img src="assets/img/health.png" alt="Health Insurance" class="img-fluid">
        </div>
    </div>
</div>